/* Site Design

    + White bg
    + Black/dark blue text
    + Links down right side
    + Solid bar between them and main content on each page

*/

* {
    margin:0;
    padding: 0;
}

body {
    /* sets default font and size */
    font-size: 16px;
    font-family: sans-serif;

    /* The margin pushes all the content away from the edges of the viewport by 30px*/
    margin: 0 30px;
}

h2 {
    margin-top: 40px;
}

img {
    max-width: 100%;
}

div > ul {
    margin: 20px 0;
}

a {
    color: orange;
}

a:hover {
    color: aquamarine;
    background-color: rgba( 20, 20, 20, 0.5);
}

@media (max-width: 600px) {

    body {
        color: darkslategray
    }
}