/* Colour Palette:
 HSL
--pacific-blue: hsla(186, 71%, 44%, 1);
--midnight-green-eagle-green: hsla(194, 85%, 21%, 1);
--permanent-geranium-lake: hsla(2, 70%, 53%, 1);
--maximum-yellow-red: hsla(40, 100%, 67%, 1);
--jet: hsla(330, 2%, 19%, 1);
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --blue-highlight: hsla(186, 71%, 44%, 1);
    --dark-green-blue: hsla(194, 85%, 21%, 1);
    --dark-green: hsla(150, 85%, 21%, 1);
    --red: hsla(2, 70%, 53%, 1);
    --yellow: hsla(40, 100%, 67%, 1);
    --yellow-highlight: #B87A00;
    --dark-jet: hsla(330, 2%, 19%, 1);
}


body {
    background-color: var(--red);
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

[class ^= "box-"] {
    display: grid;
    max-width: 100vw;
    padding: 30px 15vw;
}

.code-sample {
    max-width: 90vw;
    color: var(--dark-green-blue);
    background-color: var(--yellow);
    border-left: solid 4px var(--dark-green-blue);
    margin: 20px 25px;
    padding: 10px 15px;
}

ul {
    display: grid;
    text-align: center;
    line-height: 2;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: underline;
}

p {
    width: 90vw;
}

.pico8-center {
    grid-column: 1 / 2;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--dark-jet);
}

.inline-4-pic {
    grid-column: 1/2;
    background-color: var(--dark-jet);;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.pico8-inline-1 {
    grid-column: 1/2;
    border: solid 2px white;
}

.pico8-inline-2 {
    grid-column: 2/3;
    border: solid 2px white;
}

.pico8-inline-3 {
    grid-column: 1/2;
    border: solid 2px white;
}

.pico8-inline-4 {
    grid-column: 2/3;
    border: solid 2px white;
}

#screenshot {
    max-width: 70vw;
    
}

.spacer {
    width: 100vw;
    height: 5px;
    background-color: var(--dark-jet);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    min-width: fit-content;
    color: var(--jet);
}

.box-intro {
    text-align: justify;
    min-width: fit-content;
    background-color: var(--yellow);
}

.box-quote {
    background-color: var(--dark-jet);
    color: var(--red);
    text-align: center;
    min-width: 100vw;
    padding: 0px 20vw 40px 20vw;
    font-weight: 900;
}

.box-links {
    text-align: center;
    background: blueviolet;
}

a:hover {
    color: var(--blue-highlight);
}

.list-heading-text {
    color: var(--yellow);
}

.heading-text {
    display: grid;
    place-content: center;
    color: white;
    text-transform: uppercase;
    background-color: var(--dark-jet);
    line-height: 4;
    text-shadow: 5px 5px black;
}

#box-blog {
    text-align: justify;
    padding: 25px;

    color: var(--yellow);
    line-height: 1.4;
    max-width: 100vw;
    background: var(--dark-green-blue);
    word-wrap: anywhere;
}

#logo {
    color: white;
    text-transform: uppercase;
    font-size: fit-content;
    text-shadow: 5px 5px var(--red);
    font-size: 50px;
    line-height: unset;
}

@media (min-width: 950px) {

    body {
        background-color: var(--red);
    }


    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: var(--dark-jet);
    }

    .spacer {
        width: 100%;
    }

    .box-quote {
        grid-column: 1/4;
        background-color: var(--dark-jet);
        color: var(--red);
        max-width: 100%;
        padding: 0px 20vw 40px 20vw;
        font-weight: 900;
    }

    .heading-text {
        grid-column: 1/4;
        place-content: center;
        color: white;
        text-transform: uppercase;
        background-color: var(--dark-jet);
        line-height: 4;
        text-shadow: 5px 5px black;
    }

    .box-intro {
        grid-column: 1 / 4;
        text-align: justify;
        background-color: var(--yellow);
    }

    .intro {
        text-align: center;
        grid-column: 2 / 3;
        max-width: 1000px;
    }

    .box-links {
        grid-column: 1 / 4;
        text-align: center;
        background: linear-gradient();
    }

    .spacer {
        grid-column: 2 / 3;
    }

    .pico8-center {
        grid-column: 1 / 4;
        place-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: var(--dark-jet);
    }

    .inline-4-pic {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        margin: 25px 0px;
        background-color: var(--dark-jet);
    }

    .pico8-inline-1 {
        display: grid;
        grid-column: 1/2;
    }

    .pico8-inline-2 {
        display: grid;
        grid-column: 2/3;
    }

    .pico8-inline-3 {
        display: grid;
        grid-column: 3/4;
    }

    .pico8-inline-4 {
        display: grid;
        grid-column: 4/5;
    }

    #box-blog {
        grid-column: 1 / 4;
    }

    .blog-fill {
        margin: auto;
        width: 1000px;
    }
}